.idea/*
.idea_modules/*
atlassian-ide-plugin.xml
*.iml
*.class
.cache
.settings
.target
.project
.classpath
*.sublime-project
*.sublime-workspace
bin
logs
project/project/target/
project/target/
target
public/img/temp-overlay
atlassian-ide-plugin.xml
RUNNING_PID
errorlog.txt
lib/yjpagent.dll
*.iml